<%
# Populating hash
H = dict()
H.setdefault('')
for section in config.sections():
    for option in config.options(section):
        H[(section,option)] = config.get(section,option)
projects = config.get('root','projects').split(',')
def f(a, b):
    global H
    if (a,b) in H:
        return H[(a,b)]
    else:
        return ''

%>
<html>
  <head>
	<title>Administration Zone</title>
	<link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
	<form name="input" action="index.py/newconfig" method="post"> <!-- we should AJAX it -->
	  <div class="root">
		<b>Main configuration section:</b>
		<table>
		  <tr><td>Use xapian [yes/no]?</td><td><input type="text" name="xapian" value="<%= f('root','xapian') %>"/></td></tr> 
		  <tr><td>Password</td><td><input type="text" name="passwd" value="<%= f('root','passwd') %>"/></td></tr>
		  <tr><td>Projects (comma separated)</td><td><input type="text" name="projects" value="<%= f('root','projects') %>"/></td></tr>
        </table>
		<hr/>
	  </div><%
for p in projects:
    if p=='root':
        # Main config part
%>
    <%
else:
       # Regular project fields
%>
		<div class="<%= p %>">
          Project: <b><i><%= p %></i></b>
		  <table>
			<tr><td>Web URL:</td><td><input type="text" name="web-url" value="<%= f(p, 'web-url') %>"/></td></tr>
			<tr><td>Sources directory:</td><td><input type="text" name="src-dir" value="<%= f(p,'src-dir') %>"/></td></tr>
			<tr><td>Main DB file:</td><td><input type="text" name="db-file" value="<%= f(p, 'db-file') %>"/></td></tr>
			<tr><td>Xapian DB directory:</td><td><input type="text" name="xapian-dir" value="<%= f(p, 'xapian-dir') %>"/></td></tr>
		  </table>
		  <hr/>
		</div>
<%
%>
	</form>
  </body>
</html>
