<html>
  <head>
	<title>Administration Zone</title>
	<link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
	<form name="input" action="index.py" method="post"> <!-- we should AJAX it -->
<%
for p in projects:
    if p=='root':
        # Main config part
%>
		<div class="root">
		  <table>
			<tr><td>Use xapian?</td><td><input type="text" name="xapian"/></td></tr>
			<tr><td>Password</td><td><input type="text" name="passwd"/></td></tr>
		</div>
<%
   else:
       # Regular project fields
%>
		<div class="project">
	</form>
  </body>
</html>
