<html>
  <head>
	<title>Directory listing for <%= dirpath %></title>
	<link rel="stylesheet" href="style.css" type="text/css">	
  </head>
  <body>
<%@ include file="menu.tmpl" %>
	<p>Want to go back to <a href="index.py">project selection page</a>?</p>
	<table>
	  <tr><th>File</th><th>Size</th><th>Date</th></tr><%
for h in listing:
	type = h['type']
	if type == 'dir' or type == 'reg':
		directive = type[0]
		link = h['link']
		display = h['display']
		if type=='reg':
			size = h['size']
			date = h['date']
		else:
			size = ''
			date = ''
	%><tr><td><a href="?proj=<%= proj %>&<%= directive %>=<%= link %>"><%= display %></a></td><td><%= size %></td><td><%= date %></td></tr>
<%
	else:
		display = h['display']
	%><tr><td><%= display %></td><td></td><td></td></td>
<%
%>
	</table><%
if DEBUG is not None:
	# Persist	
%>
	<span id="debug"><p>Debug messages:</p>
		<p>
			<ul>
<%
	for d in DEBUG:
		# Persist
		%>
				<li><%= d %></li>
<%
		%>
			</ul>
		</p>
	</span><%
%>
  </body>
</html>
