<div class="menu">
	<input type="text" name="tag" id="Stag"/>
	<input type="button" value="Search" onClick = 'AJAXRequest("<%= web_url %>index.py/search")'/>
	<input type="hidden" value="<%= proj %>" name="proj" id="Sproj"/>
	<div id="Sresult" class="result">
	</div>
</div>
