<html>
  <head>
	<title>Project listing</title>
  </head>
  <body>
	You can access the administration interface <a href="index.py/admin">here</a>! </br>
	Projects hosted on this PyLXR box:
	<ul>
<%
for (a, b) in projects:
%><li><a href="<%= b %>"><%= a %></a></li><%
%>
	</ul>
  </body>
</html>
