<html>
  <head>
	<title>Source code for file <%= filename %></title>
	<link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
	<div class="menu" id="themenu">
	  <form value="form" action="index.py/search" method="post">
		<input type="text" name="tag"/>
		<input type="submit" value="Search"/>
	  </form>
	</div>
	<table><%
i = 0
for line in lines:
    i = i+1
%><tr><td><a name="<%= i %>" href="#<%= i %>"><%= i %></a><td><%
    if line is None:
%></td></tr>
<%
        continue
    for (typ, con) in line:
        # Okay, should have a map, but it's easier this way.
        if typ=='comment':
            %><span class="comment"><%= con %></span><%
        elif typ=='keyword':
            %><span class="keyword"><%= con %></span><%
        elif typ=='identifier':
            if con['link'] is not None:
                %><a href="<%= con['link'] %>"><%= con['disp'] %></a><%
            else:
                %><%= con['disp'] %><%
        elif typ=='string':
            %><span class="string"><%= con %></span><%
        elif typ=='print':
            %><%=  con %><%
        elif typ=='preprocessor':
            %><span class="preproc"><%= con %></span><%
        elif typ=='include':
            %><span class="preproc"><%= con %></span><%
        elif typ=='char':
            %><span class="string"><%= con %></span><%
        else:
            %><%= "^^^" + typ + " ^^^ " + con + "^^^" %><%

    # INDENT
%></td></tr>
<%

%>
	</table>
  </body>
</html>
