<html>
  <head>
	<title>Source code for file <%= filename %></title>
	<link rel="stylesheet" href="style.css" type="text/css">
	<script language="javascript" src="scripts.js"></script> 
  </head>
<%
if tag is not None:
%>
  <body onLoad = 'AJAXPrepare("<%= web_url %>index.py/search", "<%= tag %>")'>
<%
else:
%>
  <body>
<%

%>
	<%@ include file="menu.tmpl" %>
<%
parent = '/'.join(filename.split('/')[:-1])
file = filename.split('/')[-1:][0]
%>
	<p>
	  Source code for file: <a href="?proj=<%= proj %>&d=<%= parent %>"><%= parent %>/</a><%= file %>. Lines: <%= len(lines) %>.
	  <input type="button" value="No linenumbers" onClick="noLinenumbers()">
	</p>
	<table id="source"><%
i = 0
for line in lines:
    i = i+1
%><tr><td><a name="<%= i %>" href="#<%= i %>"><%= i %></a><td><%
    if line is None:
%></td></tr>
<%
        continue
    for (typ, con) in line:
        # Okay, should have a map, but it's easier this way.
        if typ=='comment':
            %><span class="comment"><%= con %></span><%
        elif typ=='keyword':
            %><span class="keyword"><%= con %></span><%
        elif typ=='identifier':
            if con['link'] is not None:
                %><a href="?proj=<%= proj %>&<%= con['link'] %>"><%= con['disp'] %></a><%
            else:
                %><%= con['disp'] %><%
        elif typ=='string':
            %><span class="string"><%= con %></span><%
        elif typ=='print':
            %><%= con %><%
        elif typ=='preprocessor':
            %><span class="preproc"><%= con %></span><%
        elif typ=='include':
            %><span class="preproc"><%= con %></span><%
        elif typ=='char':
            %><span class="string"><%= con %></span><%
        else:
            %><%= "^^^" + typ + " ^^^ " + con + "^^^" %><%

    # INDENT
%></td></tr>
<%

%>
	</table>
  </body>
</html>
