<html>
  <head>
	<script language="javascript" src="web/js/scripts.js"></script>
	<link rel="stylesheet" href="web/css/search-style.css" type="text/css" />
  </head>
  <body>
	<a class="searchA" onClick='toggleCollapse("tagsS")' title="Click to toggle hide">CTags search</a>:
	<div id="tagsS">
	  <table>
		<tr><th>File</th><th>Line</th><th>Type</th></tr>
<%
if allTags is not None:
   for (f,ln,k) in allTags:
   %><tr><td><a href="<%= web_url %>/index.py?tag=<%= search %>&proj=<%= proj %>&r=/<%= f %>#<%= ln %>"><%= f %></a></td><td><%= ln %></td><td><%= k %></td></tr>
<%
%>
	  </table>
	</div>
	<hr />
	<a class="searchA" onClick='toggleCollapse("filesS")' title="Click to toggle hide">Filename search</a>:
	<div id="filesS">
	  <table>
		<tr><th>File name</th></tr>
<%
if allFiles is not None:
   for (f,s,d,t) in allFiles:
      if t=='reg':
      %><tr><td><a href="<%= web_url %>/index.py?proj=<%= proj %>&r=<%= f %>"><%= f %></a></tr></tr><%


%>
		</table>
	</div>
	<hr />
	<a class="searchA" onClick='toggleCollapse("xapianS")' title="Click to toggle hide">Xapian search</a> (limited at 100 hits):	
	<div id="xapianS">
	  <table>
		<tr><th>File</th><th>Line</th></tr>
<%
if allMatches is not None:
   for (f,ln) in allMatches:
   %><tr><td><a href="<%= web_url %>/index.py?tag=<%= search %>&proj=<%= proj %>&r=/<%= f %>#<%= ln %>"><%= f %></a></td><td><%= ln %></td></tr>
<%
%>
	</div>
</body>
</html>
