body {
       width:70%;
       margin-left:15%;
       margin-right:15%;
       }
table {
        width:70%;
        }
th {
     text-align:left;
     background-color:#3399FF;
     }
.odd {
       background-color:#F0F0F0;
       }
.even {
        background-color:#D8D8D8;
        }
a {
    color:blue;
    }
a:visited {
            color:blue;
            }
tr:hover {
           background-color:#99FFFF;
           }