div.menu {
           font-family:"Arial";
           position:fixed;
           left:65%;
           z-index:3;
           background:#CCCCFF;
           border:1px solid black;
           padding:5px;
           }
div.result {
             padding-top:10px;
             overflow:auto;
             max-height:300px;
             }