body {
	font-family: "Courier New";
}
#keyword {
	color: green;
	font-weight:bold;
}
#string {
	color:red;
}
#comment {
	color:grey;
	font-decoration:italic;
}
#preprocessor {
	color:#0000CC;
	font-weight:bold;
}
