/* Identarea e facuta de emacs... */
body {
       font-family: "Courier New";
       }
.keyword {
           color: green;
           font-weight:bold;
           }
.string {
          color:red;
          }
.comment {
           color:grey;
           font-decoration:italic;
           }
.preprocessor {
                color:#0000CC;
                font-weight:bold;
                }
div.menu {
           font-family:"Arial";
           position:fixed;
           overflow:auto;
           left:70%;
           z-index:3;
           background:#CCCCFF;
           border:1px solid black;
           padding:5px;
           }